<app-header>
</app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding">
<ion-text color="primary" class="ion-text-center">
    
      <h3>Reconociendo la anatomía y fisiología de las mamas</h3>
      <br>
      </ion-text>
      <ion-text  class="ion-text-justify">
    <h6>Las mamas son un par de órganos ubicados en el pecho de las mujeres.
    </h6>
    <ion-img src="/assets/images/Amama.png"></ion-img>    
    <h6>
      Las mamas están constituidas principalmente de grasa y tejido conectivo. En la parte externa se identifican el pezón, el cual es una protuberancia pequeña en la parte central de la mama; y, la areola, que es la región pigmentada alrededor del pezón. 
    </h6>

    <h6>
        A nivel interno, se encuentran los lóbulos, lobulillos, ganglios linfáticos y ligamentos. Los lóbulos y lobulillos son las estructuras donde se produce la leche, estos están unidos por los conductos que dirigen la leche hacia el pezón. La grasa, ligamentos y tejido conjuntivo se encuentra alrededor de los lobulillos.
    </h6>

    <h5>
        Dato curioso:
    </h5>

    <h6>
        La grasa es la que determina en su mayoría el tamaño de las mamas y esta cantidad suele aumentar con la edad. 
    </h6>
</ion-text>

</ion-content>

<app-footer>
  
</app-footer>