<app-header>
</app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding">
<ion-text color="primary" class="ion-text-center">
    
      <h3>Reconociendo la anatomia y fisiología de las mamas</h3>
      <br>
      </ion-text>
      <ion-text  class="ion-text-justify">
    <h6>Las mamas o senos que son un par de órganos ubicados en el pecho de las mujeres 
    </h6>
    <ion-img src="/assets/images/Amama.png"></ion-img>    
    <h6>
        En la imagen se observa que las mamas estan principalmente compuestas por grasa con tejido conectivo. En su parte externa se puede identificar el pezón, que es una protuberancia pequeña en la parte central de la mama; así como la areola, la cual es una región pigmentada alrededor del pezón. En su estructura interna se encuentran lóbulos, lobulillos, conductos, ganglios linfáticos, vasos sanguíneos y ligamentos.
los lóbulos se ramifican desde el pezón y se unen mediante conductos con los lobulillos; tanto lóbulos como lobulillos son encargados de la producción de leche, y los conductos son encargados del transporte de dicha sustancia hasta la areola y el pezón. El espacio que hay alrededor de los lobulillos y conductos está ocupado por grasa y ligamentos. 

    </h6>
</ion-text>

</ion-content>

<app-footer>
  
</app-footer>