<app-header>

</app-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
  
      <h3>¿Quiénes somos?</h3>
      <br>
      </ion-text>

      <ion-text  class="ion-text-justify">
    <h6>
      Somos un grupo de dos profesores y seis jóvenes investigadores que conforman el proyecto de investigación "Metodología para el soporte al diagnóstico médico in vivo de cánceres de cuello uterino y mama en estadíos tempranos usando técnicas de espectroscopía óptica de fluorescencia, espectroscopía de impedancia bioeléctica y termografía infrarroja"
    </h6>
    
    <h6>
      Dentro del proyecto buscamos el desarrollo de nuevas técnicas de tamizaje para el diagnóstico de cáncer de mama y cáncer de cuello uterino.
    </h6>

    <h6>
      Esta app busca la difusión de información sobre salud femenina, importante para la prevención de estas enfermedades, así como permitir los espacios de discusión, para que sea posible formar una red de mujeres que interactúen y se apoyen en temas de interés para todas.
    </h6>

  
</ion-text>
  
</ion-content>

<app-footer>
  
</app-footer>