<app-header>

</app-header>

<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center">
  
      <h3>¿Quiénes somos?</h3>
      <br>
      </ion-text>

      <ion-text  class="ion-text-justify">
    <h6>
      Somos un grupo de dos profesores y seis jóvenes investigadores que conforman el proyecto de investigación "Metodología para el soporte al diagnóstico médico in vivo de cánceres de cuello uterino y mama en estadíos tempranos usando técnicas de espectroscopía óptica de fluorescencia, espectroscopía de impedancia bioeléctica y termografía infrarroja"
    </h6>
    
    <h6>
      Dentro del proyecto buscamos el desarrollo de nuevas técnicas de tamizaje para el diagnóstico de cáncer de mama y cáncer de cuello uterino.
    </h6>

    <h6>
      Esta app busca la difusión de información sobre salud femenina, importante para todas las mujeres, así como permitir los espacios de discusión de cáncer de mama y cáncer de cuello uterino, para que sea posible formar una red de mujeres que interactúen y se apoyen en temas de interés para todas.
    </h6>

    <h6>A continuación, presentamos cada uno de los integrantes del proyecto.</h6>

    <img src="/assets/images/jovenes.jpeg">

  
</ion-text>
<ion-text>
  <h5>Juan Camilo Ortega Zapata</h5>
  Jóven Investigador de Pregrado.
  <br> Estudiante de Ingeniería Física.
  <h5>Sofía Geovana Chacón Chamorro</h5>
  Jóven Investigador Profesional.
  <br> Ingeniera Física. Estudiante de Ingeniería Electrónica.
  <h5>Edinson Rubian Benavides Cuestas</h5>
  Jóven Investigador de Pregrado.
  <br> Ingeniero Físico. Estudiante de Ingeniería Electrónica.
  <h5>Nidia Alejandra Cifuentes Rodriguez</h5>
  Jóven Investigador Profesional.
  <br> Ingeniera Física. Estudiante de Especialización en Ingeniería Biomédica.
  <h5>Mariana Londoño Orozco</h5>
  Jóven Investigador de Pregrado.
  <br> Ingeniera Física. Estudiante de Matemáticas.
  <h5>Anngie Carolina Ospina Suárez</h5>
  Jóven Investigador Profesional.
  <br> Ingeniera Física.
</ion-text> 


<ion-row>
  <ion-col size="6">
   <img class="tanimg" src="/assets/images/Belarmino.JPG" alt="" srcset="">
</ion-col>
  <ion-col size="6">
   <img class="tanimg" src="/assets/images/Autoexamen6.jpg" alt="" srcset="">
  </ion-col>
</ion-row>

<ion-text>
  <h5>Belarmino Segura Giraldo</h5>
  Investigador Principal.
  <br> PhD. en Ingeniería.
  <h5>Juan Carlos Riaño Rojas</h5>
  Coinvestigador.
  <br> PhD. en Ingeniería.
</ion-text>  
<br>

<img src="/assets/images/GIF.png" class="GIF">

</ion-content>

<app-footer>
  
</app-footer>