<app-header>
</app-header>


<ion-content class="ion-padding">
<ion-text class="ion-text-center" color="secondary">
    <h4>Cuidar de nuestra salud y  bienestar es fundamental para evitar enfermedades  </h4>
    
</ion-text>
<ion-text class="ion-text-justify">
    <h6>Su salud depende en cierta medida de los hábitos y buenas prácticas que adquiera, y conocerlos e incorporarlos contribuirá a mantenerse sano.
    </h6>
    
    <h6>
    Las recomendaciones para una vida saludable que le ayuden a disminuir el riesgo de parecer cáncer de mama y cuello uterino son: 
    </h6>
    <ion-text color="primary">
        <h5>1. Autoexamen de mama  </h5>
    </ion-text>
    <h6>
        
        Un autoexamen de mamas es un chequeo que una mujer se realiza en casa para buscar cambios o problemas en el tejido mamario.
        Sin embargo, los expertos no se ponen de acuerdo respecto a los beneficios de los autoexámenes de mamas para detectar el cáncer de mama o salvar sus vidas. Hable con el médico respecto a si el autoexamen de mamas es apropiado en su caso.
        <br> <br>
        Pasos para hacerse el autoexamen de mama
    </h6>

    <ion-text color="secondary">
        <h5>2. Vacunación contra Virus del Papiloma Humano</h5>
    </ion-text>

    <h6>
        La vacuna contra el Virus del Papiloma Humano se centra en los tipos de cáncer que más comunmente causan cáncer de cuello uterino, ano, vagina, vulva y orofaringe. Se recomienda 
        que las niñas de 11 a 12 años reciban dos dosis de la vacuna; también es recomendable para mujeres hasta los 26 años; idealmente la vacuna se debe aplicar antes de comenzar su 
        vida sexual, sin embargo, las mujeres sexualmente activas también ser pueden beneficiar de la vacuna aunque en menor escala.
    </h6>

    <ion-text color="primary">
        <h5>3. Citología</h5>
    </ion-text>

    <h6>
      Es una prueba rutinaria realizada por un médico que busca detectar anomalías en el cuello uterinb. Esta se debe realizar de manera anual una vez comience su vida sexual o a 
      partir de los 25 años. Para mujeres con condiciones especiales de salud, el médico puede recomendar realizar esta prueba con una frecuencia diferente, así como en el caso de 
      tener resultados previos negativos. 
    </h6>

    <ion-text color="secondary">
        <h5>4. Hábitos de vida saludables</h5>
    </ion-text>

    <h6>
        Se recomienda llevar una dieta balanceada que sea acorde a las necesidades de su cuerpo; en esta, se deben involucrar todos los tipos de alimentos como proteínas, carbohidratos,
        grasas, frutas, verduras, vitaminas y minerales. De igual manera, se debe llevar una vida activa en la que se realicen al menos 2 horas y media de actividad física a la semana. 
        Además, se deben evitar hábitos tóxicos como el cigarrillo, las sustancias psicoactivas y el alcohol, los cuales causan adicción y afectan el buen funcionamiento del organismo.
    </h6>

</ion-text>

    
    <ion-card>
        <ion-card-header>
            <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
            <ion-card-title>Awesome Title</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Awesome content
        </ion-card-content>
    </ion-card>
</ion-content>

<app-footer>
</app-footer>