<app-header>
</app-header>


<ion-content class="ion-padding">
<ion-text class="ion-text-center" color="secondary">
    <h4>Cuidar de nuestra salud y  bienestar es fundamental para evitar enfermedades  </h4>
    
</ion-text>
<ion-text class="ion-text-justify">
    <h6>Su salud depende en cierta medida de los hábitos y buenas prácticas que adquiera, y conocerlos e incorporarlos contribuirá a mantenerse sano.
    </h6>
    
    <h6>
    Las recomendaciones para una vida saludable que le ayuden a disminuir el riesgo de parecer cáncer de mama y cuello uterino son: 
    </h6>
    
    <h6>
        1. Autoexamen de mama  
        <br>
        Un autoexamen de mamas es un chequeo que una mujer se realiza en casa para buscar cambios o problemas en el tejido mamario.
        Sin embargo, los expertos no se ponen de acuerdo respecto a los beneficios de los autoexámenes de mamas para detectar el cáncer de mama o salvar sus vidas. Hable con el médico respecto a si el autoexamen de mamas es apropiado en su caso.
        <br>
        2. 
        <br>
        3.
    </h6>
</ion-text>
        

        

</ion-content>

<app-footer>
</app-footer>