<app-header></app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding"> 

  <ion-img src="/assets/images/portadaFluorescencia.png"></ion-img>
  
  <ion-card>
    <ion-card-header> 
        <ion-card-title  color="secondary" class="ion-text-center">Un poco de ciencia

        </ion-card-title>
       
        
    </ion-card-header>
        <ion-card-content color="secondary" class="ion-text-justify">
            
          En los tejidos celulares se encuentran los fluoróforos que son moléculas capaces de absorber la energía electromagnética proveniente de la luz y de emitir fotones de menor energía y a una mayor longitud de onda, siendo los responsables de la emisión de fluorescencia. Debido a la diferente configuración electrónica cada uno presenta un espectro de excitación y emisión característico y único.

            
             <ion-img src="/assets/images/Fluorescencia1.PNG"></ion-img>
             Las células en estados de enfermedad, generalmente tiene velocidades de metabolismo diferentes o estructuras alteradas; por lo tanto, hay variaciones en los espectros de emisión de fluorescencia al detectar los cambios bioquímicos y estructurales que acompañan el desarrollo de la displasia.

        </ion-card-content>
    
</ion-card>
<ion-card>
  <ion-card-header> 
      <ion-card-title  color="secondary" class="ion-text-center">Medición de la fluorescencia

      </ion-card-title>
      
      
  </ion-card-header>
      <ion-card-content color="secondary" class="ion-text-justify">
        La espectroscopia óptica de fluorescencia es un método que analiza la fluorescencia de un tejido mediante el uso de un haz de luz, que se encuentra en el rango espectral del ultravioleta.
        <ion-img src="/assets/images/Fluorescencia2.PNG"></ion-img>
        <br>
        La espectroscopia óptica de fluorescencia permite realizar un análisis de los cambios bioquímicos y morfológicos presentes en los estados de normalidad y patología de los tejidos del cuello uterino.
          
          
          <ion-img src="/assets/images/Fluorescencia3.PNG"></ion-img>
          La información proporcionada por los espectros característicos de fluorescencia son analizados por medio de métodos estadísticos; posteriormente, se relacionan estos resultados con la información proporcionada por el cuadro clínico y el profesional de la salud toma la decisión de diagnóstico de los tejidos del cuello uterino normales o patológicos.
        </ion-card-content>
  
</ion-card>

<br>
      <a color="secondary" href="tecnica-termo"> Conocer la técnica de termografia infrarroja para la detección del cáncer de mama</a>
   <br><br>
      <a color="secondary" href="tecnica-bio">Conocer la técnica de Espectroscopia de bioimpendacia eléctrica para la detección del cáncer de mama y cuello uterino</a>
    

</ion-content>
<app-footer>
</app-footer>