<app-header></app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding"> 

  <ion-img src="/assets/images/portadaFluorescencia.png"></ion-img>
  
  <ion-card>
    <ion-card-header> 
        <ion-card-title  color="secondary" class="ion-text-center">Un poco de ciencia

        </ion-card-title>
       
        
    </ion-card-header>
        <ion-card-content color="secondary" class="ion-text-justify">
            
             En los tejido celulares se encuentran los fluoróforos que son moléculas capaces de absorber la energia electromagnética
             proveniente de la luz a una frecuencia dada y emitir fotones de menor energia a mayor longitud de onda, emitiendo la radiación electromagnética 
             dejando una huella llamada fluorescencia.
            
             <ion-img src="/assets/images/science.jpg"></ion-img>

        </ion-card-content>
    
</ion-card>
<ion-card>
  <ion-card-header> 
      <ion-card-title  color="secondary" class="ion-text-center">Medición de la fluorescencia

      </ion-card-title>
      
      
  </ion-card-header>
      <ion-card-content color="secondary" class="ion-text-justify">
        La espectroscopia óptica de fluorescencia es un método que analiza la fluorescencia de un tejido, 
        mediante el uso de un haz de luz, que se encuentra en el rango espectral de ultravileta
        <br>
          La espectroscopia óptica de fluorescencia permite realizar un análisis de los cambios bioquímicos y morfológicos presentes
          en los estados de normalidad y patología de los tejidos del cuello uterino. 
          <br>
          La información proporcionada por los espectros característicos de fluorescencia son analizados a través de métodos 
          estadísticos, posteriormente se relaciona estos resultados con la información proporcionada por el cuadro clínico 
          y el profesional de la salud toma de la decisión de diagnóstico de los tejidos del cuello uterino normales o patológicos.
          
          <ion-img src="/assets/images/Termograma.jpg"></ion-img>
        </ion-card-content>
  
</ion-card>
</ion-content>
<app-footer>
</app-footer>