<app-header> </app-header> 
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding">
  <!--<ion-img src="/assets/images/Tecnica_Bioimpedancia.png" width="600" height="680"></ion-img>-->

  <ion-img src="/assets/images/portadaImpedancia.png"></ion-img>
  
  <ion-card>
    <ion-card-header> 
        <ion-card-title  color="secondary" class="ion-text-center">Un poco de ciencia

        </ion-card-title>
       
                
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      Los tejidos son una agrupación celular, que cumple una función especifica 
      y tienen diferentes características, estas se relaciona con el tipo de célula 
      que la conforman, entre otras, las características eléctricas debido al paso de partículas 
      con carga de la membrana celular que regulan la energia y el trabajo. 
      
       <ion-img src="/assets/images/science.jpg"></ion-img>
  </ion-card-content>
  
</ion-card>
<ion-card>
  <ion-card-header> 
      <ion-card-title  color="primary" class="ion-text-center">Tejidos e impedancia eléctrica

      </ion-card-title>
                   
  </ion-card-header>
  <ion-card-content class="ion-text-justify">
   
     Se ha demostrado que cuando una persona comienza a desarrollar cáncer, las células cambian 
     metabolismo y características eléctricas, una de estas conocida como: Impedancia eléctrica, 
     capacidad que tiene el tejido de conducir corriente eléctrica
     <ion-img src="/assets/images/Impedancia1.png"></ion-img>
</ion-card-content>

</ion-card>
<ion-card>
  <ion-card-header> 
      <ion-card-title  color="secondary" class="ion-text-center">Medición de impedancia

      </ion-card-title>
      
     
      
  </ion-card-header>
      <ion-card-content color="secondary" class="ion-text-justify">
          Para reconocer el estado del tejido de la mama o del cuello uterino, se realiza la medida 
          de impedancia, utilizando un dispositivo diseñado para este fin (impedanciómetro), posteriormente
          se grafica la impedancia en función de la frecuencia obteniendo una señal conocida como espectro 
          de impedancia.
          <ion-img src="/assets/images/Impedancia2.png"></ion-img>
      </ion-card-content>
      
  
</ion-card>
  </ion-content>


<app-footer></app-footer>