<app-header></app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding">
 
<ion-img src="/assets/images/portadaTermografia.png"></ion-img>


<!-- <ion-text class="ion-text-center">
    <small class="ion-text-center"> Todos los objetos que conocemos en nuestro entorno emiten radiación
        electromagnética en diferentes formas o rangos.</small>
    <br>
    <small class="ion-text-center"> En el caso del cuerpo humano,
        este emite radiación en el espectro infrarrojo debido a que su temperatura es
        similar a la del ambiente.
    </small>
    <br>
    <small class="ion-text-center"> temperatura del cuerpo es una medida capaz de brindar
        información importante acerca de cómo se llevan a cabo los procesos dentro de este,
        por lo que es importante que se mantenga dentro de rangos normales para que el cuerpo
        lleve a cabo sus funciones elementales. </small>

</ion-text> -->

<ion-card>
    <ion-card-header> 
        <ion-card-title  color="primary" class="ion-text-center">Un poco de ciencia

        </ion-card-title>   
        
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
        Todos los objetos que conocemos en nuestro entorno emiten radiación electromagnética en diferentes formas o rangos; en el caso del cuerpo humano, este emite radiación en el espectro infrarrojo, esta radiación es invisible a nuestros ojos y nos indica la temperatura que tiene el objeto.
        
        <ion-img src="/assets/images/Termografia1.png"></ion-img>
         La temperatura del cuerpo es una medida capaz de brindar
        información importante acerca de cómo se llevan a cabo los procesos dentro de este, 
        por lo que es importante que se mantenga dentro de rangos normales para que el cuerpo
         lleve a cabo sus funciones elementales. 
         
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header> 
        <ion-card-title  color="primary" class="ion-text-center">Características térmicas de los tejidos cancerosos


        </ion-card-title>
        <br>
        
        
    </ion-card-header>
        <ion-card-content color="secondary" class="ion-text-justify">
            Cuando se presentan anomalías en las mamas, como el cáncer de mama, las células afectadas incrementan su actividad y el tejido requiere mayor flujo de sangre debido al crecimiento anormal y descontrolado de las células; estos factores llevan a que el tejido presente temperaturas mayores a las normales y que esta se difunda hasta la piel, este aumento de temperatura en la zona se puede observar si se toma una fotografía con una cámara térmica.  
             <ion-img src="/assets/images/Termograma.jpg"></ion-img>
        </ion-card-content>
    
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-card-title color="primary" class="ion-text-center">Funcionamiento de la técnica</ion-card-title>
        <br>        
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
        Para visualizar si una persona presenta alguna anomalía en sus mamas por medio de la técnica de termografía infrarroja, se realiza la toma de imágenes de la zona mamaria en diferentes condiciones, estas imágenes o termogramas hacen visible a nuestros ojos, por medio de color, la temperatura de la zona.  Para realizar la toma de imágenes, se tiene un protocolo bien establecido, que asegura la recolección de imágenes de forma igual y efectiva para todas las personas.
        <ion-img src="/assets/images/Termografia2.png"></ion-img>
        Posterior a la toma de imágenes, estas pasan a ser llevadas al computador y por medio de un software se procesan, analizan y se obtiene como resultado si existe o no alguna zona con posible cáncer.
    </ion-card-content>
</ion-card>
<br>
        <a color="secondary" href="tecnica-fluo"> Conocer la técnica de espectroscopia óptica de fluorescencia para la detección del cáncer de cuello uterino</a>
    
      <br>
      <br>
        <a color="secondary" href="tecnica-bio">Conocer la técnica de Espectroscopia de bioimpendacia eléctrica para la detección del cáncer de mama y cuello uterino</a>
      


</ion-content>
<app-footer></app-footer>