<app-header></app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding">
 
<ion-img src="/assets/images/portadaTermografia.png"></ion-img>


<!-- <ion-text class="ion-text-center">
    <small class="ion-text-center"> Todos los objetos que conocemos en nuestro entorno emiten radiación
        electromagnética en diferentes formas o rangos.</small>
    <br>
    <small class="ion-text-center"> En el caso del cuerpo humano,
        este emite radiación en el espectro infrarrojo debido a que su temperatura es
        similar a la del ambiente.
    </small>
    <br>
    <small class="ion-text-center"> temperatura del cuerpo es una medida capaz de brindar
        información importante acerca de cómo se llevan a cabo los procesos dentro de este,
        por lo que es importante que se mantenga dentro de rangos normales para que el cuerpo
        lleve a cabo sus funciones elementales. </small>

</ion-text> -->

<ion-card>
    <ion-card-header> 
        <ion-card-title  color="primary" class="ion-text-center">Un poco de ciencia

        </ion-card-title>   
        
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
        Todos los objetos que conocemos en nuestro entorno emiten radiación 
        electromagnética en diferentes formas o rangos.
        <br>
         En el caso del cuerpo humano, 
        este emite radiación en el espectro infrarrojo debido a que su temperatura es 
        similar a la del ambiente. 
        
        <br>
         temperatura del cuerpo es una medida capaz de brindar
        información importante acerca de cómo se llevan a cabo los procesos dentro de este, 
        por lo que es importante que se mantenga dentro de rangos normales para que el cuerpo
         lleve a cabo sus funciones elementales. 
         <ion-img src="/assets/images/science.jpg"></ion-img>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header> 
        <ion-card-title  color="primary" class="ion-text-center">Medición de temperatura

        </ion-card-title>
        <br>
        
        
    </ion-card-header>
        <ion-card-content color="secondary" class="ion-text-justify">
            Para detectar la temperatura corporal del organismo se suelen utilizar termómetros
             infrarrojos o de mercurio, y se debe hacer la medición en partes específicas del 
             cuerpo como las axilas y el ano en el caso de los termómetros de mercurio, y en 
             la frente para los termómetros infrarrojo. Sin embargo, si se desea conocer la 
             temperatura de un punto o zona específica de la piel se deben utilizar cámaras 
             termográficas, las cuales son dispositivos que permiten recolectar de manera visual
             la temperatura de la región observada creando un mapa de colores que indica las 
             temperaturas.  
             <ion-img src="/assets/images/Termograma.jpg"></ion-img>
        </ion-card-content>
    
</ion-card>
<ion-card>
    <ion-card-header>
        <ion-card-title color="primary" class="ion-text-center">Funcionamiento de la técnica</ion-card-title>
        <br>        
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
        Cuando se presentan anomalías en las mamas, como el cáncer de mama, las células 
        afectadas incrementan su actividad y el tejido requiere mayor flujo de sangre debido 
        al crecimiento anormal y descontrolado de las células; estos factores llevan a que el 
        tejido presente temperaturas mayores a las normales y que esta se difunda hasta la piel,
         lo cual es posible observar si se genera un termograma o mapa de color de la zona de 
         las mamas con el uso de una cámara termográfica.

    </ion-card-content>
</ion-card>
</ion-content>
<app-footer></app-footer>