<app-header>
</app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding">
    <ion-text color="primary" class="ion-text-center">
    
        <h3>Reconociendo la anatomía y fisiología del cuello uterino</h3>
        <br>
        </ion-text>
        <ion-text  class="ion-text-justify">
      <h6>
        El cuello uterino es una de las partes del aparato reproductor femenino, se ubica en la parte inferior del útero; su tamaño y forma varían de acuerdo con la edad, el momento del ciclo hormonal y el número de partos. Su medida aproximada es de 2.5 a 3.5 cm de largo.
      </h6>
      <ion-img src="/assets/images/Acuello.png"></ion-img>    
      <h6>
En cuanto a la estructura del cuello uterino, se pueden identificar dos partes principales: el exocervix es la parte más cercana a la vagina, donde se encuentran las células escamosas y el endocérvix es la parte más cercana al útero, donde se encuentran las células columnares.

      </h6>
     
    <ion-text>
      <h5>
        Células escamosas
      </h5>
    </ion-text>
      <h6>
Son células planas que se ven como una escama de pez en el microscopio. Estas células se encuentran en los tejidos que forman la superficie de la piel, las vías del aparato respiratorio y en el revestimiento de algunos órganos del cuerpo
      </h6>
      
      <ion-text>
        <h5>
          Células columnares
        </h5>
      </ion-text>
        <h6>
          El canal cervical (endocérvix) está lleno de células largas llamadas columnares o células glandulares que producen moco.
        </h6>
        <br>
      <h5>
        Dato curioso:
      </h5>

      <h6>
        El cuello uterino tiene un orificio que permite la salida de fluido menstrual y la entrada de esperma. Además, es el canal del parto.
      </h6>
  </ion-text>

  <ion-text color="primary" class="ion-text-center">
    <h3>CÁNCER DE CUELLO UTERINO</h3>
    
</ion-text>

<ion-text class="ion-text-justify">
  <h6>
    El cáncer de cuello uterino es una enfermedad que se produce cuando las células de esta zona se convierten en células cancerosas y se reproducen sin control. El 90% de este tipo de cáncer es causado por el virus del papiloma humano (VPH), una enfermedad de transmisión sexual muy común. La mayoría de veces, cuando una mujer se contagia con VPH, el cuerpo combate la enfermedad, pero algunas veces este virus lleva al desarrollo del cáncer. 

  </h6>
  </ion-text>
  <ion-text class="ion-text-center" color="secondary">
    <h5>La neoplasia intraepitelial cervical (NIC) es el crecimiento de las células anormales en la superficie del cuello uterino</h5>
</ion-text>
<ion-img src="/assets/images/Acuello2.PNG"></ion-img>


  <ion-text color="primary" class="ion-text-center">
    <h3>Técnicas actuales de tamizaje de cáncer de cuello uterino</h3>
    
</ion-text>
<ion-text class="ion-text-justify">
<h6>
 Las técnicas de tamizaje son pruebas que permiten determinar quién puede padecer cáncer de cuello uterino y quién no.
</h6>
</ion-text>
  <ion-card>
    <ion-card-header class="ion-text-center">
        <ion-card-title color="secondary"> Citología</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ion-text-justify">
      La citología es una prueba sencilla y no dolorosa, que se practica durante la revisión ginecológica anual, esta consiste en tomar una muestra 
      de las células de la vagina y del cuello uterino mediante un cepillo y una espátula que se utilizan para realizar un 
      raspado suave en el interior del útero. Se lleva a cabo para el diagnóstico de las lesiones precursoras del cáncer de cuello uterino y cáncer 
      de útero. Además, también permite el diagnóstico de otras infecciones de la zona. 
    
    </ion-card-content>
    <ion-row>
      <ion-col size="3"></ion-col>
        <ion-col size="6">
         <img class="tanimg" src="https://lopezcorrea.com/2017/images/papanicolautecnica.jpg" alt="" srcset="">
      </ion-col>
      <ion-col size="3"></ion-col>
      
    </ion-row>
</ion-card>

<ion-card>
  <ion-card-header class="ion-text-center">
      <ion-card-title color="secondary"> Colposcopia</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-justify">
    La colposcopia es un procedimiento realizado por el médico especialista, en el cual se observa de manera detallada la zona 
    del cuello del útero, la vagina y la vulva en busqueda de signos de enfermedades por medio de un dispositivo llamado colposcopio, cuyo 
    objetivo es aumentar el campo visual de la zona. En esta prueba, el cuello uterino es humedecido con ácido acético para hacer 
    que las células anormales sean visibles fácilmente. 
  
  </ion-card-content>
  <ion-row>
    <ion-col size="3"></ion-col>
      <ion-col size="6">
       <img class="tanimg" src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/08/26/10/34/my00236_im00350_w7_colposcopethu_jpg.jpg" alt="" srcset="">
    </ion-col>
    <ion-col size="3"></ion-col>
    
  </ion-row>
</ion-card>


<ion-card>
  <ion-card-header class="ion-text-center">
      <ion-card-title color="secondary"> Detección molecular de VPH</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-justify">
    Los doctores cuentan con una prueba para detectar los tipos de VPH de alto riesgo que tienen una mayor probabilidad de causar el cáncer de cuello uterino. En esta prueba, se buscan partículas del ADN de estos tipos de VPH en las células del cuello uterino. 
  
  </ion-card-content>
  <ion-row>
    <ion-col size="3"></ion-col>
      <ion-col size="6">
       <img class="tanimg" src="https://www.mitosis.gr/wp-content/uploads/2015/05/human_papilloma_virus_banner-1024x521.jpg" alt="" srcset="">
    </ion-col>
    <ion-col size="3"></ion-col>
    
  </ion-row>
</ion-card>

<ion-card>
  <ion-card-header class="ion-text-center">
      <ion-card-title color="secondary"> Biopsia</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-justify">
    Procedimiento para extraer tejidos del cuello del útero y analizarlos para determinar si hay condiciones anormales, precancerosas o cáncer de cuello uterino.
Existen dos tipos de biopsias que se realizan en el cuello uterino: la primera, toma una pequeña muestra de tejido para ser analizado y dar un diagnóstico y la otra extrae por completo el tejido canceroso, como parte del tratamiento.
  </ion-card-content>
  <ion-row>
    <ion-col size="3"></ion-col>
      <ion-col size="6">
       <img class="tanimg" src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/08/26/10/27/ds00167_im01874_c7_conebiopsythu_jpg.jpg" alt="" srcset="">
    </ion-col>
    <ion-col size="3"></ion-col>
    
  </ion-row>
</ion-card>
</ion-content>

<app-footer>
  
</app-footer>