<app-header>
</app-header>
<!-- Para editar el Header y el Footer que se usa en todas las paginas -->
<!-- se encuentra en la carpeta components y hay dos subcarpetas footer y header-->
<ion-content class="ion-padding">
    <ion-text color="primary" class="ion-text-center">
    
        <h3>Reconociendo la anatomía y fisiología del cuello uterino</h3>
        <br>
        </ion-text>
        <ion-text  class="ion-text-justify">
      <h6>
        El cuello uterino es una de las partes del aparato reproductor femenino, se ubica en la parte inferior del útero; su tamaño y forma varían de acuerdo con la edad, el momento del ciclo hormonal y el número de partos. Su medida aproximada es de 2.5 a 3.5 cm de largo.
      </h6>
      <ion-img src="/assets/images/Acuello.png"></ion-img>    
      <h6>
        En el cuello uterino sobresalen dos partes principales: el exocérvix, que es la parte más cercana a la vagina, donde se encuentran las células escamosas; y el endocérvix, la parte más cercana al útero y donde se encuentran las células columnares. 
      </h6>

      <h5>
        Dato curioso:
      </h5>

      <h6>
        El cuello uterino tiene un agujero, el cual permite la salida de fluido menstrual y entrada de esperma.
      </h6>
  </ion-text>
    
</ion-content>

<app-footer>
  
</app-footer>