<ion-header>
  <ion-toolbar>
    <ion-title>Técnicas innovadoras de detección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-img src="/assets/images/Intro_Tecnicas.jpeg" width="600" height="680"></ion-img>
  
  <ion-list>

    <ion-button routerLink="/tecnica-bio" expand="block" fill="outline" >
      <ion-icon slot="start" color="primary" name="fitness-outline"></ion-icon>
      Bioimpedancia
    </ion-button>

    <ion-button routerLink="/tecnica-termo" expand="block" fill="outline" >
      <ion-icon slot="start" color="primary" name="fitness-outline"></ion-icon>
      Termografia
    </ion-button>

    <ion-button routerLink="/tecnica-fluo" expand="block" fill="outline" >
      <ion-icon slot="start" color="primary" name="fitness-outline"></ion-icon>
      Fluorescencia
    </ion-button>

  </ion-list>

</ion-content>
