
<ion-menu side="start"
menuId="primerMenu" 
contentId="principal">
<ion-header>
  <ion-toolbar color="primary">
    
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list lines="none">
    
      <ion-item > 
        
        <h6> Prevención</h6>
      </ion-item>
    
    <ion-menu-toggle>
      <ion-item routerLink= "/eis/tab2" detail> 
        <ion-icon   color="secondary" slot="start" name="fitness-outline"></ion-icon>
        <small> Autoexamen de mama </small>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink= "/eis/tab3" detail> 
        <ion-icon   color="secondary" slot="start" name="fitness-outline"></ion-icon>
        <small> Prevención cáncer de cuello uterino </small>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item routerLink= "/eis/tab1" detail> 
        <ion-icon   color="secondary" slot="start" name="fitness-outline"></ion-icon>
        <small> Hábitos saludables </small>
      </ion-item>
    </ion-menu-toggle>
    
  </ion-list>
</ion-content>
</ion-menu>